body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1,h2,h3,h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  #search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #university-list {
    list-style: none;
    padding: 0;
  }
  
  #university-list li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
  }
  
  #university-list li h2 {
    margin-bottom: 10px;
    color: #39b54a;
  }
  
  #university-list li ul {
    display: flex; /* Make the student list a flexbox for row layout */
    flex-wrap: wrap; /* Wrap student list items if needed */
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #university-list li ul li {
    margin-bottom: 5px;
    color: #333;
    flex: 1 0 33%; /* Set width for each student name box */
    /* Adjust the flex value (e.g., 20% or 25%) to fit more or less students per row */
    padding: 5px;
    border: 1px solid #ddd; /* Add a border to each student box */
    border-radius: 3px; /* Add rounded corners to student boxes */
    text-align: center; /* Center student names within the boxes */
  }
  