:root{
  --engineering: rgb(207, 255, 189);
  --medicine: rgb(255, 189, 205);
  --business: rgb(255, 221, 189);
  --law: rgb(241, 189, 255);
  --science: rgb(182, 255, 224);
  --teaching: rgb(255, 232, 141);
  --miscellaneous: rgb(189, 224, 255);
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1,h2,h3,h4,a {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  #search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0px;
  }
  
  #university-list {
    list-style: none;
    padding: 0;
  }
  
  #university-list li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
  }
  
  #university-list li h2 {
    margin-bottom: 10px;
    color: #39b54a;
  }
  
  #university-list li ul {
    display: flex; /* Make the student list a flexbox for row layout */
    flex-wrap: wrap; /* Wrap student list items if needed */
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #university-list li ul li {
    cursor: default;
    margin-bottom: 5px;
    color: #333;
    flex: 1 0 33%; /* Set width for each student name box */
    /* Adjust the flex value (e.g., 20% or 25%) to fit more or less students per row */
    padding: 5px;
    border: 1px solid #ddd; /* Add a border to each student box */
    border-radius: 3px; /* Add rounded corners to student boxes */
    text-align: center; /* Center student names within the boxes */
  }


  #university-list li ul #engineer{
    background-color: var(--engineering);
  }

  #university-list li ul #medicine{
    background-color: var(--medicine);
  }

  #university-list li ul #business{
    background-color: var(--business);
  }

  #university-list li ul #law{
    background-color: var(--law);
  }

  #university-list li ul #science{
    background-color: var(--science);
  }

  #university-list li ul #teaching{
    background-color: var(--teaching);
  }

  #university-list li ul #miscellaneous{
    background-color: var(--miscellaneous);
  }

/* Key Styles */
.key {
  list-style: none;
  margin: 10px 0 0 10px; /* Adjust margin as needed */
  padding: 0;
  display: flex; /* Arrange squares horizontally */
  justify-content: center;
}

.key li {
  margin: 0 10px 0 0; /* Adjust margin between squares as needed */
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 5px 8px 5px 8px;
  border-radius: 4%;
  color: #000000;
  user-select: none;
}

.key li:hover{
  background-color: rgb(243, 243, 243);
  cursor: default;
}

.key li:active{
  background-color: rgb(211, 210, 210);
}

/* Square Styles */
.key li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Add margin after square */
  border-radius: 10%;
  position: relative;
  top:10%;
}

.engineering-square {
  background-color: var(--engineering);
}

.medicine-square {
  background-color: var(--medicine);
}

.business-square {
  background-color: var(--business);
}

.law-square {
  background-color: var(--law);
}

.science-square {
  background-color: var(--science);
}

.teaching-square {
  background-color: var(--teaching);
}

.misc-square {
  background-color: var(--miscellaneous);
}

/* Experimental Features*/
#experimental_features {
    list-style-type: none;
    position: absolute;
    top: 10px;
    left: 5px;
}

.force_white_student > li > ul > .student {
    background-color: #fff !important;
}

.student {
    position: relative;
}

.atar_score {
    position: absolute;
    right: 5%;
    top: 8%;
    border: 1px solid #333;
    background-color: #ffffff;
    border-radius: 2%;
    color: #000000;
    padding: 2px;
}

.degree_name {
  position: absolute;
  left: 5%;
  top: 8%;
  border: 1px solid #333;
  background-color: #ffffff;
  border-radius: 2%;
  color: #000000;
  padding: 2px;
}

/*Leaderboard stuff*/
.leaderboard-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(117, 117, 117, 0.696);
}

.leaderboard-flex{
  width: 700px;
  height: 500px;
  background-color: rgb(238, 238, 238);
  border: #333 1px solid;
  border-radius: 3px;
  position: relative;
}

.leaderboard-flex h2 {
  text-align: center;
}

#leaderboard-student-list{
  list-style: none;
  overflow-y: scroll;
  height: 300px;
}

#leaderboard-student-list li {
  border-bottom: 1px rgba(117, 117, 117, 0.696) solid;
  padding-bottom: 3px;
  margin-bottom: 4px;
  width: 90%;
  position: relative;
}

#leaderboard-student-list li a{
  position: absolute;
  right: 0;
}

.leaderboard-close{
  border: 1px black solid;
  width: 35px;
  height: 25px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-align: center;
  padding-top: 8px;
  border-radius: 1.5px;
  cursor: pointer;
}

.leaderboard-close:hover{
  background-color: #e2e2e2;
}

.leaderboard-close:active{
  background-color: #d4d4d4;
}

#leaderboard-stats{
  display: flex;
  justify-content: center;
}

.stats-flex {
  background-color: #ffffff;
  border: rgb(93, 93, 93) 1px solid;
  width: 100px;
  height: 90px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}


.stat-wheel {
  position: absolute;
  left: 20px;
  top: 5px;
  font-size: 17px;
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.stat-wheel a{
  position: relative;
  top: 20px;
}


.stat-name {
  position: absolute;
  bottom: 1px;
  text-align: center;
  width: 100px;
}